@{
    ViewData["Title"] = "Login";
}

<div style="width:300px;margin:100px auto;text-align:center;border:1px solid #ccc;padding:20px;">

<h2>Compras.com</h2>

<form method="post" asp-action="Entrar">

    <input type="text" name="email" placeholder="Usuário" /><br /><br />

    <input type="password" name="senha" placeholder="Senha" /><br /><br />

    <button type="submit">Entrar</button>

</form>

@if (ViewBag.Erro != null)
{
    <p style="color:red">@ViewBag.Erro</p>
}

</div>