<h2>Painel do Administrador</h2>

<a href="/Login/Logout">Voltar</a>

<hr />

<h3>Gestão de Usuários</h3>

<table border="1">
    <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Status</th>
        <th>Ações</th>
    </tr>
    <tr>
        <td>Teste</td>
        <td>Fornecedor</td>
        <td>Ativo</td>
        <td>
            <button>Visualizar</button>
            <button>Editar</button>
            <button>Bloquear</button>
            <button>Excluir</button>
        </td>
    </tr>
</table>

<br />

<a href="/Home/Fornecedor">Entrar como Fornecedor</a><br />
<a href="/Home/Comprador">Entrar como Comprador</a>