@{
    ViewData["Title"] = "Home";
}

<h2>Sistema de Compras</h2>

<p>Bem vindo:</p>

<br />

<a asp-controller="Home" asp-action="Admin">Entrar como Administrador</a>
<br /><br />

<a asp-controller="Home" asp-action="Fornecedor">Entrar como Fornecedor</a>
<br /><br />

<a asp-controller="Home" asp-action="Comprador">Entrar como Comprador</a>