@model List<Compras.com.Models.Usuario>

<h2>Usuários Cadastrados</h2>

<a href="/Usuarios/Create">Novo Cadastro</a>

<table border="1">

<tr>
    <th>Id</th>
    <th>Nome</th>
    <th>Email</th>
    <th>Tipo</th>
</tr>

@foreach (var u in Model)
{
<tr>
    <td>@u.Id</td>
    <td>@u.Nome</td>
    <td>@u.Email</td>
    <td>@u.Tipo</td>
</tr>
}

</table>