@model Compras.com.Models.Usuario
@{ Layout = "_Layout"; }

<div class="container mt-5">
    <div class="card bg-dark text-white p-4">
        <h3>Cadastrar Novo @ViewBag.Tipo</h3>
        <form asp-action="Salvar" method="post">
            <input type="hidden" asp-for="Tipo" value="@ViewBag.Tipo" />
            <div class="mb-3">
                <label>Nome Completo</label>
                <input asp-for="Nome" class="form-control" required />
            </div>
            <div class="mb-3">
                <label>Nome de Usuário (Login)</label>
                <input asp-for="Login" class="form-control" required />
            </div>
            <div class="mb-3">
                <label>Senha</label>
                <input asp-for="Senha" type="password" class="form-control" required />
            </div>
            <button type="submit" class="btn btn-success w-100">Salvar Cadastro</button>
        </form>
    </div>
</div>