<h2>🔒 Alterar Senha</h2>

<a asp-controller="Login" asp-action="Logout">Voltar</a>

<hr />

<form asp-action="AlterarSenha" method="post">

    <input type="password" name="novaSenha" placeholder="Nova senha" required />

    <br /><br />

    <button type="submit">Salvar</button>

</form>