@model List<Compras.com.Models.Produto>

<h2>Resultado da Busca</h2>

<form method="get">

<input type="text" name="nome" placeholder="Buscar produto" />

<button type="submit">Buscar</button>

</form>

<br>

<table border="1">

<tr>
<th>Produto</th>
<th>Preço</th>
<th>Imposto</th>
</tr>

@foreach (var p in Model)
{
<tr>
<td>@p.Nome</td>
<td>@p.PrecoUnitario</td>
<td>@(p.ComImposto ? "Com imposto" : "Sem imposto")</td>
</tr>
}

</table>